<h1>Listing dvds</h1>

<table>
  <tr>
	<th></th>
    <th>Name</th>
	<th>Beschreibung</th>
	<% if user_signed_in? %>
	<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
		<th>Verliehen</th>
		<th>Userids</th>
	<% end %>
	<% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dvds.each do |dvd| %>
  <tr>
    <td><%= dvd.name %></td>
	<td><%= dvd.beschreibung %></td>
	<% if user_signed_in? %>
		<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
			<td><%= dvd.verliehen %></td>
			<td><%= dvd.userid %></td>
		<% end %>
	<% end %>
    <td><%= link_to 'Info', dvd %></td>
	<% if dvd.verliehen != nil %>
	<% if dvd.verliehen < dvd.anzahl %>
		<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
			<td><%= link_to 'Editieren', edit_dvd_path(dvd) %></td>
		<% else %>
			<td><%= link_to 'Ausleihen', edit_dvd_path(dvd) %></td>
		<% end %>
	<% else %>
		<td>Ausleihen</td>
	<% end %>
	<% else %>
		<td><%= link_to 'Ausleihen', edit_dvd_path(dvd) %></td>
	<% end %>
	<% if user_signed_in? %>
		<td><% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
			<%= link_to 'Loeschen', dvd, :confirm => 'Sicher?', :method => :delete %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
	<% if current_user.role == "admin" %>
		<%= link_to 'Neue DVD', new_dvd_path %>
	<% end %>
<% end %>

