<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dvd.name %>
</p>

<p>
  <b>Verliehen:</b>
  <%= @dvd.verliehen %>
</p>

<p>
  <b>Userid:</b>
  <%= @dvd.userid %>
</p>


<%= link_to 'Edit', edit_dvd_path(@dvd) %> |
<%= link_to 'Back', dvds_path %>
